<!DOCTYPE html>

<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Wisdom Wealth Management | Stocks</title>
    <link rel="stylesheet" href="styles.css">
    </head>
    
    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <h1>Wisdom Wealth Management</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="https://projectoneda.github.io/presentation/index.html">Home</a></li>
                        <li><a href="https://projectoneda.github.io/presentation/about.html">About</a></li>
                        <li><a href="https://projectoneda.github.io/presentation/stocks.html">Stocks</a></li>
                        <li><a class="current" href="http://127.0.0.1:5000/">Flask</a></li>
                        <li><a href="https://projectoneda.github.io/presentation/services.html">Services</a></li>
                    </ul>
                </nav>
            </div> 
        </header>
            
        <section id="newsletter">
            <div class="container">
                <h1>Subscribe to Our Newsletter</h1>
                    <form>
                        <input type="email" placeholder="Enter Email...">
                        <button type="submit" class="button-1">Subscribe</button>
                    </form>
            </div>
        </section>

        <section id="main">
            <div class="container">
                <article id=main-col>
                    <h1 class="page-title">Sample Stocks of The Day</h1>
                    <ul id=stocks>
                        <li>
                            <h3>J.P. Morgan Chase & Co.</h3>
                            <p>J.P. Morgan Chase & Co. is an American multinational investment bank and financial services company headquartered in New York City. JPMorgan Chase is the largest bank in the United States, and is ranked by S&P Global as the sixth largest bank in the world by total assets as of 2018, to the amount of $2.534 trillion.</p>
                            <p>
                                <ul>
                                    <li class="emph"><strong>Current Price:</strong> $20.00</li>
                                    <li><strong>PE:</strong> 12x</li>
                                    <li><strong>EPS:</strong> $2.34</li>
                                    <li><strong>ROI:</strong> 20.00%</li>
                                    <li><strong>Rating:</strong> Buy</li>
                                    <li><strong>Industry Sector:</strong> Financials</li>
                                    <li class="emph"><a href="#" class="button-1">Learn More</a></li>
                                </ul>
                            </p>
                        <li>
                            <h3>The Goldman Sachs Group, Inc.</h3>
                            <p>The Goldman Sachs Group, Inc., is an American multinational investment bank and financial services company headquartered in New York City. Apart from investment banking, it offers services in investment management, securities, asset management, prime brokerage, and securities underwriting. </p>
                            <p>
                                <ul>
                                    <li class="emph"><strong>Current Price:</strong> $20.00</li>
                                    <li><strong>PE:</strong> 12x</li>
                                    <li><strong>EPS:</strong> $2.34</li>
                                    <li><strong>ROI:</strong> 20.00%</li>
                                    <li><strong>Rating:</strong> Buy</li>
                                    <li><strong>Industry Sector:</strong> Financials</li>
                                    <li class="emph"><a href="#" class="button-1">Learn More</a></li>
                                </ul>
                            </p>
                        </li>
                        <li>
                            <h3>The Bank of America Corporation</h3>
                            <p>The Bank of America Corporation is an American multinational investment bank and financial services company based in Charlotte, North Carolina with central hubs in New York City, London, Hong Kong, Minneapolis, and Toronto. Bank of America was formed through NationsBank's acquisition of BankAmerica in 1998.</p>
                            <p>
                                <ul>
                                    <li class="emph"><strong>Current Price:</strong> $20.00</li>
                                    <li><strong>PE:</strong> 12x</li>
                                    <li><strong>EPS:</strong> $2.34</li>
                                    <li><strong>ROI:</strong> 20.00%</li>
                                    <li><strong>Rating:</strong> Buy</li>
                                    <li><strong>Industry Sector:</strong> Financials</li>
                                    <li class="emph"><a href="#" class="button-1">Learn More</a></li>
                                </ul>
                            </p>
                        </li>
                        <li>
                            <h3>UBS Group AG</h3>
                            <p>UBS Group AG is a Swiss multinational investment bank and financial services company founded and based in Switzerland. Co-headquartered in the cities of Zürich and Basel, it maintains a presence in all major financial centers as the largest Swiss banking institution in the world.</p>
                            <p>
                                <ul>
                                    <li class="emph"><strong>Current Price:</strong> $20.00</li>
                                    <li><strong>PE:</strong> 12x</li>
                                    <li><strong>EPS:</strong> $2.34</li>
                                    <li><strong>ROI:</strong> 20.00%</li>
                                    <li><strong>Rating:</strong> Buy</li>
                                    <li><strong>Industry Sector:</strong> Financials</li>
                                    <li class="emph"><a href="#" class="button-1">Learn More</a></li>
                                </ul>
                            </p>
                        </li>
                        <li>
                            <h3>Wells Fargo & Company</h3>
                            <p>Wells Fargo & Company is an American multinational financial services company headquartered in San Francisco, California, with central offices throughout the United States. It is the world's second-largest bank by market capitalization and the fourth largest bank in the US by total assets.</p>
                            <p>
                                <ul>
                                    <li class="emph"><strong>Current Price:</strong> $20.00</li>
                                    <li><strong>PE:</strong> 12x</li>
                                    <li><strong>EPS:</strong> $2.34</li>
                                    <li><strong>ROI:</strong> 20.00%</li>
                                    <li><strong>Rating:</strong> Buy</li>
                                    <li><strong>Industry Sector:</strong> Financials</li>
                                    <li class="emph"><a href="#" class="button-1">Learn More</a></li>
                                </ul>
                            </p>
                        </li>
                    </ul>
                </article>
                
                <aside id="sidebar">
                    <div class="dark">
                        <h3>Advisory Options</h3>
                            <form class="quote">
                                <div>
                                    <label>Name</label> <br>
                                    <input type="text" placeholder="Name">
                                </div>
                                <div>
                                    <label>Email</label> <br>
                                    <input type="text" placeholder="Email">
                                </div>
                                <div>
                                    <label>Message</label> <br>
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <button class="button-1" type="submit">Send</button>
                            </form>
                    </div>
                </aside>

            </div>
        </section>

        <footer>Wisdom Wealth Management, Copyright &copy; 2019</footer>

    </body>
</html>