<!DOCTYPE html>

<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Wisdom Wealth Management | About</title>
    <link rel="stylesheet" href="styles.css">
    </head>
    
    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <h1>Wisdom Wealth Management</h1>
                </div>
                <nav>
                    <ul>
                        <li><a class="current"><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="disclaimer.html">Disclaimer</a></li>
                        <li><a href="stocks.html">Stocks</a></li>
                        <li><a href="sector.html">Sector</a></li>
                        <li><a href="services.html">Services</a></li>
                    </ul>
                </nav>
            </div> 
        </header>
            
        <section id="newsletter">
            <div class="container">
                <h1>Subscribe to Our Newsletter</h1>
                    <form>
                        <input type="email" placeholder="Enter Email...">
                        <button type="submit" class="button-1">Subscribe</button>
                    </form>
            </div>
        </section>

        <section id="main">
            <div class="container">
                <article id=main-col>
                    <h1 class="page-title">About Us</h1>
                    <p>Wisdom Wealth Management was established in 2014 with a generous gift from the families of Sir Donald L. "The Don" Walker, Jr., 
                        the former CEO and founder of Walker Global Enterprises and Lady Layal Gallez founder and CEO of Gallez Holdings Incorporated. Sir Walker and Lady Gallez were also the company's original
                        Council of Overseers members. </p>
                    <p>Despite a volatile and challenging stock market, Wisdom Wealth Management continues to generate impressive returns and its 
                        fund managers are continually featured on CNBC. Comprised of finance professionals, selected through a rigorous application and interview process, 
                        the fund provides handsome returns to its clients, and a chance for clients and local university students to have a hands-on opportunity to learn, 
                        develop, and apply effective stock analysis and portfolio management risk and return techniques.</p>
                </article>
                <aside id="sidebar">
                    <div class="dark">
                    <h3>What We Do</h3>
                    <p>We are an investment-advisory group that incorporates state-of-the-art financial planning, investment portfolio management and 
                            a number of aggregated financial services offered by a complex mix of asset managers, custodial banks, retail banks, 
                            financial planners and others.</p>
                    <p>We also offer the opportunity for you to take the helm by providing clients with access to state-of-the-art research resources and analytical software. 
                            clients can get hands-on experience using extensive data sources and powerful analytical tools such as Bloomberg, 
                            FactSet and @Risk. Using these resources, along with a number of proprietary tools, our clients can  
                            conduct extensive industry-wide and company-specific fundamental research, value companies using multiple 
                            state-of-the-art methodologies, and construct optimized sector portfolios based on sophisticated risk and return analysis.</p>
                    </div>
                </aside>

            </div>
        </section>
        <section id="boxes">
            <div class="container">
                <div class="box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1f/SMirC-thumbsup.svg" alt="layla">
                    <h3><a href="https://www.linkedin.com/in/lgallez/">Layla Gallez</a></h3>
                    <p>President and Chief Operating Officer</p>  
                </div>

                <div class="box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5a/SMirC-laugh.svg" alt="don">
                    <h3><a href="https://www.linkedin.com/in/kimpowers/">Kim Powers</a></h3>
                    <p>Managing Director, Strategic Client Relationships</p>  
                </div>
                    
                <div class="box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/SMirC-super.svg" alt="jrod">
                    <h3><a href="https://www.linkedin.com/in/vivek-krishnan-534ba385/">Vivek Krishnan</a></h3>
                    <p>Chief Information Officer</p>  
                </div>
            </div>
        </section>

        <section id="boxes2">
            <div class="container">
                <div class="box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/SMirC-beam.svg" alt="layla">
                    <h3><a href="https://www.linkedin.com/in/nishit-sitapara-66055770/">Nishit Sitapara</a></h3>
                    <p>Chief of Staff and Secretary to the Board</p>  
                </div>

                <div class="box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/SMirC-cool.svg" alt="don">
                    <h3><a href="https://www.linkedin.com/in/don-walker-umich/">Donald Walker</a></h3>
                    <p>Executive Vice President and Chief Financial Officer</p>  
                </div>
                    
                <div class="box">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d2/SMirC-nerd.svg" alt="jrod">
                    <h3><a href="https://www.linkedin.com/in/jose-rodriguez-6a9a2a45/">Jose Rodriguez</a></h3>
                    <p>Chairman and Chief Executive Officer</p>  
                </div>
            </div>
        </section>

        <footer>Wisdom Wealth Management, Copyright &copy; 2019</footer>

    </body>
</html>