<!DOCTYPE html>

<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Wisdom Wealth Management | Disclaimer</title>
    <link rel="stylesheet" href="styles.css">
    </head>
    
    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <h1>Wisdom Wealth Management</h1>
                </div>
                <nav>
                    <ul>
                        <li><a class="current"><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="disclaimer.html">Disclaimer</a></li>
                        <li><a href="stocks.html">Stocks</a></li>
                        <li><a href="sector.html">Sector</a></li>
                        <li><a href="services.html">Services</a></li>
                    </ul>
                </nav>
            </div> 
        </header>
            
        <section id="newsletter">
            <div class="container">
                <h1>Subscribe to Our Newsletter</h1>
                    <form>
                        <input type="email" placeholder="Enter Email...">
                        <button type="submit" class="button-1">Subscribe</button>
                    </form>
            </div>
        </section>

        <section id="main">
            <div class="container">
                <article id=main-col>
                    <h1 class="page-title">Disclaimer</h1>
                    <p>Wisdom Wealth Management (WWM) and its affiliates make financial information available, as a service, to be used for informational purposes only.
                        While we have tried to provide accurate and timely information, and have relied on sources we believe to be reliable, it may include inadvertent technical or factual inaccuracies.WWM does not warrant the accuracy or completeness of the materials provided, either expressly or impliedly, and expressly disclaims any warranties or merchantability or fitness for a particular purpose.
                        Neither WWM nor any of its affiliates, directors, officers or employees, nor any third party vendor, will be liable or have any responsibility for any loss or damage that you incur in the event of any failure or interruptions of this information, or resulting from the act or omission of any other party involved in making this information or the data contained in it available, or from any other cause relating to your access to, inability to access, or use of the information or these materials.
                        Decisions based on information contained on this site are the sole responsibility of the user, and in exchange for using this information, you agree to hold WWM and its affiliates harmless against any claims for damages arising from any decision you make based on such information.
                        WWM reserves the right to withdraw or prohibit access to information, and to revise the software, materials, information and the services and products described in its share, at any time without notifying users.</p>
            
            </div>
        </section>
        <footer>Wisdom Wealth Management, Copyright &copy; 2019</footer>

    </body>
</html>